.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.788);
  }
  
  .all-browsers > h1, .browser {
    margin: 5px;
    padding: 5px;
    background: rgb(255, 255, 255);
  }
  
  .browser{
  background: rgb(255, 255, 255);
  }
  .browser > h2, p {
    margin: 4px;
    font-size: 95%;
    margin: 2px;
  }
      aside {
        width: 30%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        font-style: italic;
        background-color: rgb(255, 255, 255);
      }
      main{
  background-color: rgba(53, 72, 240, 0.671);
  
      }
  
  
      img,embed,object,video{max-width:100%;
      }
  
      nav a, button{
  min-width: 48px;
  min-height: 48px;
  }
  
  @media screen and (max-width: 700px)
  {
  body{
  
      background-color: rgb(253, 0, 0);
  }
  }
  